@font-face 
{
    font-family: Hind;
    src: url(../Polices/Hind-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Hind;
    src: url(../Polices/Hind-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Hind;
    src: url(../Polices/Hind-Bold.ttf);
    font-weight: bold;
}


@font-face
{
    font-family: ADAM;
    src: url(../Polices/ADAM.CG\ PRO.otf);
}