body {
    margin: 0;
    padding: 0;
}
.carte_film
{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    font-family: Hind;
    padding: 20px;
    width: min-content;
    
}

.carte_film h3
{
    font-size: 30px;
    margin: 0;
}

.carte_film--bar-container
{
    position: relative;
    margin: 0 10px;
}

.carte_film--bar
{
    height: 3px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
}

.carte_film--bar__vert
{
    background-color: #45cf42;
}

.carte_film--bar__rouge
{
    background-color: #D90429;
}

.carte_film--likes
{
    display: flex;
    justify-content: space-between;
    color: rgb(140, 140, 140);
    padding: 0 10px;   
}

/* Footer */

footer {
    width: 100%;
    height: 160px;
    background-color: black;
    position: relative;
    font-family: Hind;
}

.footer--credits {
    display: flex;
    flex-direction: column;
    gap:  20px;
    align-items: center;
    color: white;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.footer--credits img {
    height: 20px;
}

.footer--credits p {
    margin: 0;
    color: #CCCACA;
}

.footer--contact {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    
}

.footer--contact p {
    margin: 0;
    font-weight: bold;
}

.footer--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer--logo img {
    width: 30px;
    height: 30px;
}

.footer--logo p {
    margin: 0;
}

.footer--logo p:first-child {
    font-size: 15px;
    color: #CCCACA;
}

.footer--logo p:last-child {
    font-size: 25px;
    font-weight: bold;
}

.footer--image {
    display: flex;
    gap: 30px;
}

.footer--image img {
    height: 33.33px;
    width: 33.33px;
}

.footer--retour {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.footer--retour img {
    width: 40px;
    height: 40px;
}