.nav-bar__noir {
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
}

.nav-bar__noir h1 {
    margin: 0;
}

.nav-bar__noir h1 a {
    color: white;
}