.erreur__center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}
.erreur__center img{
    width: 400px;
}